@import "../styles/common.scss";

$inner-height: 28px;
$inner-border-radius: 3px;

.add-todo {
  display: flex;
  height: 58px;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  gap: 12px;
  background: $common-gradient-dark-grey;
  box-shadow: 0 -2px 8px $common-color-shadow-black;

  * {
    box-sizing: border-box;
  }
}

input {
  flex: 1 1;
  padding: 0 8px;
  height: $inner-height;
  font-size: 11pt;
  border: none;
  border-radius: $inner-border-radius;
  background-color: $common-color-light-grey;
  color: $common-color-almost-white;

  &:focus {
    outline: 2px solid $common-color-ts-blue;
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  height: $inner-height;
}

button.add {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background-color: $common-color-ts-blue;
  color: $common-color-almost-white;
  font-size: 18pt;
  font-weight: 500;

  &:focus-visible {
    outline: $common-outline-focuesd-button-white;
  }

  &:active {
    background-color: $common-color-ts-blue-darker;
  }
}