@import "../styles/common.scss";

.todo-list {
  margin: 0 0 24px 0;
  
  .title {
    margin: 0 0 8px 0;
    font-size: 11pt;
    font-weight: 500;
    color: $common-color-lighter-grey;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: 12px;
  }
}